# bin Folder
**/bin

# output Folder
**/output

# generierte Kurse
kurs*.csv

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.class

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac Files
.DS_Store

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#vsCode
c_cpp_properties.json
launch.json

#intellij idea
Java.iml
description.html
misc.xml
modules.xml
project-template.xml
workspace.xml
